1 VERSIONINFO
FILEVERSION     1,2,0
PRODUCTVERSION  1,2,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "080904E4"
    BEGIN
      VALUE "CompanyName", "Manel Castillo Gimenez"
      VALUE "FileDescription", "Clavis"
      VALUE "FileVersion", "1.2.0"
      VALUE "InternalName", "clavis"
      VALUE "LegalCopyright", "Manel Castillo Gimenez"
      VALUE "OriginalFilename", "clavis.exe"
      VALUE "ProductName", "Clavis"
      VALUE "ProductVersion", "1.2.0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x809, 1252
  END
END
