[Desktop Entry]
Version=Unreleased
Type=Application
Name=Clavis
Comment=An easy to use Password Manager
Exec=clavis
Icon=clavis
Terminal=false
StartupNotify=false
Categories=Security;
