[Desktop Entry]
Version=Beta_June_22
Type=Application
Name=Sempiternum
Comment=Software to analyze Holomorphic Maps and their dynamics
Exec=sempiternum
Icon=sempiternum
Terminal=false
StartupNotify=false
Categories=Science;Math;
